<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=labeller-service,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <logger name="com.mycompany.labeller.LabellerServiceServer" level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOKI" />
    </logger>
    <logger name="com.mycompany.labeller.h2.service.H2LabelStorage" level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOKI" />
    </logger>
    <logger name="com.mycompany.labeller.neo4j.service.Neo4JLabelStorage" level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOKI" />
    </logger>
</configuration>